/* ------------------------------------------------------
   privacy
------------------------------------------------------ */
body {
	background:url("../../../common/img/bg_010.png") repeat;
}
@media screen and (max-width: 960px){
	body {
		background:url("../../../common/img/bg_010.png") repeat;
	}
}
.privacy .t_short{
	border-top: 1px solid #ddd;
	margin:40px 0 0 0;
}
@media screen and (max-width: 1283px) {
	.privacy .t_short{
		border-top:none;
	}
}